# 특성과 타깃 (독립변수, 종속변수)

In [20]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/leekyuyoung20221226/python/main/data/bike.csv'
bike = pd.read_csv(url)
bike.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1.0,0.0,1.0,0.0,6.0,0.0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1.0,0.0,1.0,0.0,0.0,0.0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1.0,0.0,1.0,0.0,1.0,1.0,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1.0,0.0,1.0,0.0,2.0,1.0,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1.0,0.0,1.0,0.0,3.0,1.0,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [21]:
bike['windspeed'].fillna(bike['windspeed'].median(),inplace=True)

In [22]:
bike['temp'].fillna( bike['temp'].median(), inplace=True)
bike['atemp'].fillna( bike['atemp'].median(), inplace=True)
bike['hum'].fillna( bike['hum'].median(), inplace=True)

In [23]:
bike.loc[730,'yr'] = 1.0
bike.loc[730, 'mnth'] = 12.0

In [24]:
bike.drop(columns=['dteday'],inplace=True)

In [25]:
X = bike.iloc[:,:-1].to_numpy()
Y = bike.iloc[:,-1]

In [26]:
from xgboost import XGBRegressor
from sklearn.model_selection import cross_validate
xgbr = XGBRegressor()
scores = cross_validate(xgbr, X,Y,n_jobs=-1, return_train_score=True)

In [27]:
np.mean(scores['train_score']), np.mean(scores['test_score'])

(0.9999976868421978, 0.9651480120565769)

In [28]:
from lightgbm import LGBMRegressor
from sklearn.model_selection import cross_validate
lgbmr = LGBMRegressor(random_state=0)
scores = cross_validate(lgbmr, X,Y,n_jobs=-1,return_train_score=True)
np.mean(scores['train_score']), np.mean(scores['test_score'])

(0.9988510873569828, 0.9638233590021071)

# 데이터 분리

In [29]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3, random_state=0)

In [30]:
xgbr.fit(x_train, y_train)
xgbr.score(x_test,y_test)

0.9952211899065297

In [31]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
lr.score(x_train, y_train), lr.score(x_test,y_test)

(1.0, 1.0)

In [33]:
x_test[0]

array([1.97000e+02, 3.00000e+00, 0.00000e+00, 7.00000e+00, 0.00000e+00,
       6.00000e+00, 0.00000e+00, 1.00000e+00, 6.86667e-01, 6.38263e-01,
       5.85000e-01, 2.08342e-01, 2.41800e+03, 3.50500e+03])

In [34]:
lr.predict([x_test[1]])

array([4592.])

In [35]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
df = pd.read_csv(url, header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [36]:
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation',
                  'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 
                   'income']

In [37]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# 데이터 전처리

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [39]:
df.drop(columns=['education'],inplace=True)

In [47]:
df['workclass'].replace(' ?',np.nan, inplace=True)

In [48]:
df['occupation'].replace(' ?',np.nan, inplace=True)

In [49]:
df['native-country'].replace(' ?',np.nan,inplace=True)

In [52]:
# 문자형 데이터를 수치화한다
df2 = pd.get_dummies(df)

In [53]:
df2.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,income_ <=50K,income_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
3,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [54]:
df2.isna().any(axis=1).sum()

0

In [55]:
df2 = df.dropna()

In [56]:
df2 = pd.get_dummies(df2)

In [57]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 90 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   age                                         30162 non-null  int64
 1   fnlwgt                                      30162 non-null  int64
 2   education-num                               30162 non-null  int64
 3   capital-gain                                30162 non-null  int64
 4   capital-loss                                30162 non-null  int64
 5   hours-per-week                              30162 non-null  int64
 6   workclass_ Federal-gov                      30162 non-null  uint8
 7   workclass_ Local-gov                        30162 non-null  uint8
 8   workclass_ Private                          30162 non-null  uint8
 9   workclass_ Self-emp-inc                     30162 non-null  uint8
 10  workclass_ Self-emp-not-inc                 30162 non-null  uint8
 11  workclass_ State-gov                        30162 non-null  uint8
 12  workclass_ Without-pay                      30162 non-null  uint8
 13  marital-status_ Divorced                    30162 non-null  uint8
 14  marital-status_ Married-AF-spouse           30162 non-null  uint8
 15  marital-status_ Married-civ-spouse          30162 non-null  uint8
 16  marital-status_ Married-spouse-absent       30162 non-null  uint8
 17  marital-status_ Never-married               30162 non-null  uint8
 18  marital-status_ Separated                   30162 non-null  uint8
 19  marital-status_ Widowed                     30162 non-null  uint8
 20  occupation_ Adm-clerical                    30162 non-null  uint8
 21  occupation_ Armed-Forces                    30162 non-null  uint8
 22  occupation_ Craft-repair                    30162 non-null  uint8
 23  occupation_ Exec-managerial                 30162 non-null  uint8
 24  occupation_ Farming-fishing                 30162 non-null  uint8
 25  occupation_ Handlers-cleaners               30162 non-null  uint8
 26  occupation_ Machine-op-inspct               30162 non-null  uint8
 27  occupation_ Other-service                   30162 non-null  uint8
 28  occupation_ Priv-house-serv                 30162 non-null  uint8
 29  occupation_ Prof-specialty                  30162 non-null  uint8
 30  occupation_ Protective-serv                 30162 non-null  uint8
 31  occupation_ Sales                           30162 non-null  uint8
 32  occupation_ Tech-support                    30162 non-null  uint8
 33  occupation_ Transport-moving                30162 non-null  uint8
 34  relationship_ Husband                       30162 non-null  uint8
 35  relationship_ Not-in-family                 30162 non-null  uint8
 36  relationship_ Other-relative                30162 non-null  uint8
 37  relationship_ Own-child                     30162 non-null  uint8
 38  relationship_ Unmarried                     30162 non-null  uint8
 39  relationship_ Wife                          30162 non-null  uint8
 40  race_ Amer-Indian-Eskimo                    30162 non-null  uint8
 41  race_ Asian-Pac-Islander                    30162 non-null  uint8
 42  race_ Black                                 30162 non-null  uint8
 43  race_ Other                                 30162 non-null  uint8
 44  race_ White                                 30162 non-null  uint8
 45  sex_ Female                                 30162 non-null  uint8
 46  sex_ Male                                   30162 non-null  uint8
 47  native-country_ Cambodia                    30162 non-null  uint8
 48  native-country_ Canada                      30162 non-null  uint8
 49  native-country_ China                       30162 non-null  uint8
 50  native-country_ Columbia                    30162 non-null  uint8
 51  native-country_ Cuba                        30162 non-null  uint8
 52  native-country_ Dominican-Republic          30162 non-null  uint8
 53  native-country_ Ecuador                     30162 non-null  uint8
 54  native-country_ El-Salvador                 30162 non-null  uint8
 55  native-country_ England                     30162 non-null  uint8
 56  native-country_ France                      30162 non-null  uint8
 57  native-country_ Germany                     30162 non-null  uint8
 58  native-country_ Greece                      30162 non-null  uint8
 59  native-country_ Guatemala                   30162 non-null  uint8
 60  native-country_ Haiti                       30162 non-null  uint8
 61  native-country_ Holand-Netherlands          30162 non-null  uint8
 62  native-country_ Honduras                    30162 non-null  uint8
 63  native-country_ Hong                        30162 non-null  uint8
 64  native-country_ Hungary                     30162 non-null  uint8
 65  native-country_ India                       30162 non-null  uint8
 66  native-country_ Iran                        30162 non-null  uint8
 67  native-country_ Ireland                     30162 non-null  uint8
 68  native-country_ Italy                       30162 non-null  uint8
 69  native-country_ Jamaica                     30162 non-null  uint8
 70  native-country_ Japan                       30162 non-null  uint8
 71  native-country_ Laos                        30162 non-null  uint8
 72  native-country_ Mexico                      30162 non-null  uint8
 73  native-country_ Nicaragua                   30162 non-null  uint8
 74  native-country_ Outlying-US(Guam-USVI-etc)  30162 non-null  uint8
 75  native-country_ Peru                        30162 non-null  uint8
 76  native-country_ Philippines                 30162 non-null  uint8
 77  native-country_ Poland                      30162 non-null  uint8
 78  native-country_ Portugal                    30162 non-null  uint8
 79  native-country_ Puerto-Rico                 30162 non-null  uint8
 80  native-country_ Scotland                    30162 non-null  uint8
 81  native-country_ South                       30162 non-null  uint8
 82  native-country_ Taiwan                      30162 non-null  uint8
 83  native-country_ Thailand                    30162 non-null  uint8
 84  native-country_ Trinadad&Tobago             30162 non-null  uint8
 85  native-country_ United-States               30162 non-null  uint8
 86  native-country_ Vietnam                     30162 non-null  uint8
 87  native-country_ Yugoslavia                  30162 non-null  uint8
 88  income_ <=50K                               30162 non-null  uint8
 89  income_ >50K                                30162 non-null  uint8
dtypes: int64(6), uint8(84)
memory usage: 4.0 MB

In [60]:
df2.drop(columns=['income_ <=50K'],inplace=True)

In [62]:
# 가장 적합한 모델을 찾는 방법
X = df2.iloc[:,:-1].to_numpy()
Y = df2.iloc[:,-1].to_numpy()

In [63]:
# 선형회귀 - 로지스틱회귀
# 트리 - 앙상블포함 xgboost
# 이웃 - KNeighborsClass

# 데이터 표준화
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X = ss.fit_transform(X)

In [64]:
# 교차검증 함수
def cross_val(classifier, num_split=10):
    scores = cross_validate(classifier, X, Y, cv=num_split, return_train_score=True)
    return np.mean(scores['train_score']), np.mean(scores['test_score'])

In [67]:
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
lr = LogisticRegression()
xgb = XGBClassifier()
kn = KNeighborsClassifier()

In [68]:
print(cross_val(lr))
print(cross_val(xgb))
print(cross_val(kn))

(0.8496341996398129, 0.8473575908050666)
(0.9004523821081578, 0.8678469881986164)
(0.8754208813106785, 0.8243157254778184)

In [70]:
cross_val(XGBClassifier(n_estimators=5))

(0.8589358200148609, 0.8558786900754258)

# 타이타닉 생존 예측 경진대회

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_validate

In [2]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [3]:
train_x = train[['Pclass', 'SibSp','Age', 'Sex']]
train_y = train['Survived']

test_x = test[['Pclass', 'SibSp', 'Age', 'Sex']]

In [4]:
train_x[train_x.isnull().any(axis=1)]

     Pclass  SibSp  Age     Sex
5         3      0  NaN    male
17        2      0  NaN    male
19        3      0  NaN  female
26        3      0  NaN    male
28        3      0  NaN  female
..      ...    ...  ...     ...
859       3      0  NaN    male
863       3      8  NaN  female
868       3      0  NaN    male
878       3      0  NaN    male
888       3      1  NaN  female

[177 rows x 4 columns]

In [5]:
grouped = train_x.groupby(['Pclass','Sex'])

In [6]:
grouped['Age'].median()

Pclass  Sex
1       female    35.0
        male      40.0
2       female    28.0
        male      30.0
3       female    21.5
        male      25.0
Name: Age, dtype: float64

In [7]:
train_x['Age'] = train_x['Age'].fillna(grouped['Age'].transform('median'))

C:\Temp\ipykernel_23584\966336161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_x['Age'] = train_x['Age'].fillna(grouped['Age'].transform('median'))

In [8]:
train['Age'] = train['Age'].fillna(29)
train['Sex'] = train['Sex'].map({'male' : 0, 'female' : 1})

test['Age'] = test['Age'].fillna(29)
test['Sex'] = test['Sex'].map({'male' : 0, 'female' : 1})

train_x = train[['Pclass', 'SibSp','Age', 'Sex']]
train_y = train['Survived']

test_x = test[['Pclass', 'SibSp', 'Age', 'Sex']]

In [9]:
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [10]:
def cross_val(classifier, num_split=10):
    scores = cross_validate(classifier, train_x, train_y, cv=num_split, return_train_score=True)
    return np.mean(scores['train_score']), np.mean(scores['test_score'])

In [11]:
print(cross_val(RandomForestClassifier()))
print(cross_val(XGBClassifier()))
print(cross_val(LGBMClassifier()))
print(cross_val(KNeighborsClassifier()))
print(cross_val(LogisticRegression()))

(0.9070960239849815, 0.8014232209737827)
(0.8931295357112836, 0.8215605493133582)
(0.8812824368541816, 0.8182022471910111)
(0.8448686336592974, 0.7901622971285893)
(0.7898737861961825, 0.7867041198501873)

In [12]:
model = XGBClassifier()
model.fit(train_x, train_y)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [74]:
# 모델 만들기
model = DecisionTreeClassifier()
# 학습하기
model.fit(train_x, train_y)

DecisionTreeClassifier()

In [18]:
test_y_pred = model.predict(test_x)

In [19]:
submission = pd.read_csv("./submission.csv")
submission['Survived'] = test_y_pred
submission.to_csv('temp.csv', index = False)

In [13]:
from scipy.stats import uniform, randint
rd = randint(100,200,10)

In [14]:
# 하이퍼 파라미터 튜닝
from sklearn.model_selection import GridSearchCV
params = {
    'n_estimators': range(100,200,10),
    'max_depth': range(1,10),
    'learning_rate': uniform(0.0001,0.001).rvs(10)
}

In [15]:
gsc = GridSearchCV(XGBClassifier(), n_jobs=-1, param_grid=params)
gsc.fit(train_x, train_y)

GridSearchCV(estimator=XGBClassifier(base_score=None, booster=None,
                                     callbacks=None, colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None,
                                     early_stopping_rounds=None,
                                     enable_categorical=False, eval_metric=None,
                                     feature_types=None, gamma=None,
                                     gpu_id=None, grow_policy=None,
                                     importance_type=None,
                                     interaction_constraints=None,
                                     learning_rate=None, max_b...
                                     max_leaves=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     n_estimators=100, n_jobs=None,
                                     num_parallel_tree=None, predictor=None,
                                     random_state=None, ...),
             n_jobs=-1,
             param_grid={'learning_rate': array([0.00078683, 0.00079156, 0.00088363, 0.00044682, 0.00022669,
       0.0002953 , 0.00064206, 0.00066825, 0.00094157, 0.00029341]),
                         'max_depth': range(1, 10),
                         'n_estimators': range(100, 200, 10)})

In [16]:
gsc.best_score_

0.8204695248258114

In [17]:
# 모델 만들기
model = gsc.best_estimator_