In [1]:
#두 변수 간의 복사
number1 = 10
number2 = number1

In [5]:
number1 = 100
number1, number2

(100, 10)

In [8]:
#얕은 복사
number3 = [1, 2, 3, 4, 5]
number4 = number3

In [7]:
#객체지향 언어의 특징
#객체지향 언어에서 변수는 변수가 아니라 객체고 객체는 값을 저장하는데 그 값이 바로 사용하는 데이터가 아닌 데이터가 저장된 주소
number3[0] = 100
number3, number4

([100, 2, 3, 4, 5], [100, 2, 3, 4, 5])

In [9]:
#깊은 복사
#number3 변수 초기화
number3 = [1, 2, 3, 4, 5]
#number3와 동일한 값을 가지는 독립적인 객체 number4
#라이브러리 사용
import copy
number4 = copy.deepcopy(number3)

number3[0] = 100
number3, number4

조건문과 반복문

조건문

In [11]:
#성적이 다음과 같을 때 학점을 부여하는 프로그램을 만들어라
# 38, 65, 89, 16 ...

In [12]:
# if else elif
# 들여쓰기

In [15]:
age = 5
if age > 20:
    print("성인이군요")
    print("책임감 있게 행동하세요")
else:
    print("미성년자입니다")
print("------------------------------")

미성년자입니다
------------------------------

In [16]:
print("Enter your age")
myage = int(input())
if myage < 30:
    print("Welcome to the club")
else:
    print("You are not accepted")

Enter your age

 30

You are not accepted

비교 연산자

In [17]:
x < y
x > y
x <= y
x >= y
x = y
x == y  #값이 같은지 검사
x is y  #주소가 같은지 검사
x != y
x is not y

NameError: name 'x' is not defined

In [18]:
7 == 7

True

In [20]:
a = 100
b = 100
a == b, a is b

(True, True)

In [21]:
a = 300
b = 300
a == b, a is b

(True, False)

파이썬 처음 인터프리터가 시작될 때 -5 ~ 256까지는 변하지 않는 정적 메모리 주소의 값을 할당

In [22]:
# True 1 / False 0
if 1:
    print("True")

True

In [23]:
if 0:
    print("True")
else:
    print("False")

False

논리연산자

and or not

In [24]:
# 여러 조건을 합쳐서 하나의 논리결과를 표현
(7 > 5) and (10 > 5)

True

In [25]:
(7 > 5) and (10 < 5)

False

In [27]:
# and: 두 값이 모두 참일 때 참 그 외에는 모두 거짓
# or: 둘 중에 하나만 참이면 참이고 그 외에는 모두 거짓
# not: 반대 not(7 < 5)
(7 < 5), not(7 < 5), not(not(7 < 5))

(False, True, False)

In [29]:
print("점수를 입력하세요")
score = int(input())
if score >= 90:
    print('A')
else:
    if score >= 80:
        print('B')
    else:
        print('C, D, F')

점수를 입력하세요

 80

B

In [30]:
print("점수를 입력하세요")
score = int(input())
if score >= 90:
    print('A')
elif score >= 80:
    print('B')

점수를 입력하세요

 80

B

In [31]:
# 조건문을 이용해서 어떤 종류의 학생인지 알아맟혀라
# 규칙
# 1. 나이는 (2022 - 태어난 년도 +1)로 계산
# 2. 26세 이하 20세 이상이면 대학생
# 3. 20세 미만 17세 이상이면 고등학생
# 4. 17세 미만 14세 이상이면 중학생
# 5. 14세 미만 8세 이상이면 초등학생
# 그 외는 학생이 아닙니다

In [33]:
print("태어난 연도를 입력하세요")
year = int(input())
stuage = 2022 - year + 1
if stuage >= 20 and stuage <= 26:
    print("대학생입니다")
elif stuage >= 17 and stuage < 20:
    print("고등학생입니다")
elif stuage >= 14 and stuage < 17:
    print("중학생입니다")
elif stuage >= 8 and stuage < 14:
    print("초등학생입니다")
else:
    print("학생이 아닙니다")

태어난 연도를 입력하세요

 2006

고등학생입니다

반복문

In [35]:
#for, while
#상황에 따라 쓰임새가 다르다

In [36]:
# for loop : 반복 범위를 지정해서 반복
# 범위를 지정하는 방법에는 두가지가 있음

In [37]:
#1. 리스트를 사용하는 방법

In [38]:
temp = [1, 2, 3, 4, 5]
temp

[1, 2, 3, 4, 5]

In [39]:
# for 변수명 in 반복할 리스트나 또는 iterator 성격의 집합들
for i in temp:
    print(i)

1
2
3
4
5

In [40]:
for i in [1, 2, 3, 4, 5]:
    print("반복문")

반복문
반복문
반복문
반복문
반복문

In [42]:
for i in range(5):
    print("반복문", i)

반복문 0
반복문 1
반복문 2
반복문 3
반복문 4

In [43]:
greeting = "good morning"

In [44]:
for i in greeting:
    print("반복")

반복
반복
반복
반복
반복
반복
반복
반복
반복
반복
반복
반복

In [46]:
for i in ['americano', 'latte', 'frappuccino']:
    print("어떤 커피?", i)
    if i == 'latte':
        for j in i:
            print(j)

어떤 커피? americano
어떤 커피? latte
l
a
t
t
e
어떤 커피? frappuccino

In [47]:
range(5), range(0, 5)

(range(0, 5), range(0, 5))

In [48]:
list(range(5))

[0, 1, 2, 3, 4]

In [49]:
list(range(2, 5))

[2, 3, 4]

In [50]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [52]:
list(range(10, 1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [53]:
from random import sample

In [54]:
sample([1, 2, 3, 4, 5], 2)

[2, 1]

In [55]:
# 1 ~ 45 랜덤하게 6개를 추출
# sample 함수를 이용

In [57]:
sample(range(1, 46), 6)

[8, 32, 28, 33, 36, 20]

In [61]:
# 1 set : 5 game
for _ in range(5):
    # print(i, ' ', sample(range(1, 46), 6))
    print(sample(range(1, 46), 6))

[45, 5, 36, 38, 24, 35]
[33, 15, 45, 25, 1, 27]
[1, 37, 32, 42, 24, 2]
[23, 33, 31, 15, 43, 27]
[8, 18, 35, 10, 36, 45]

In [62]:
i = 0
while i < 5:
    print("while loop")
    i += 1

while loop
while loop
while loop
while loop
while loop

In [63]:
# for loop : 반복 횟수가 정해져 있음
# while loop : 특정 조건을 만족할 때까지 반복
# 순환문을 정해진 횟수를 채우기 전에 빠져나갈 수 있음
# break로 탈출
# 숫자가 0부터 100까지 임의로 구성되어 있는 집합
# 그 중에 10개를 추출해서 가장 작은 값을 찾는다
# 25, 20, 5, 8, 9, 45, 20, 55, 65, 22

In [65]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [72]:
for i in range(3):
    print(f"i = {i}")
    for j in range(5):
        if j == 2:
            break
        print(f"   j = {j}")

i = 0
   j = 0
   j = 1
i = 1
   j = 0
   j = 1
i = 2
   j = 0
   j = 1

In [76]:
samplelist = sample(range(101), 10)
samplelist

[40, 25, 100, 93, 82, 12, 35, 55, 64, 3]

In [77]:
minvalue = 100
count = 0
for i in samplelist:
    count += 1
    if minvalue > i:
        minvalue = i
    if minvalue == 0:
        break
minvalue, count

(3, 10)

In [78]:
# continue
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [80]:
# 짝수만 출력해라
for i in range(10):
    if i % 2 != 0:
        continue
    print(i)

0
2
4
6
8

In [81]:
num1, num2 = 2, 1
print(f"{num1} x {num2} = {num1 * num2}")

2 x 1 = 2

In [83]:
print("출력하려는 구구단의 단수를 입력하세요")
num = int(input())
for i in range(1, 10):
    print(f"{num} x {i} = {num * i}")

출력하려는 구구단의 단수를 입력하세요

 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [84]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i} x {j} = {i*j}")
    print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81