# 클래스 생성

### 객체
### 클래스
### 비지니스 로직 : 적합한 메소드(함수)와 그 메소드에서 사용하는 변수

### 동물 클래스
### 타입 : 개, 고양이,...
### 나이
### 예방접종 여부

In [9]:
class Animal():
    def __init__(self, type_, age, isPrevent):
        self.type_ = type_
        self.age = age
        self.isPrevent = isPrevent
    def __str__(self):
        return f"type: {self.type_}, age: {self.age}, isPrevent: {self.isPrevent}"

In [10]:
animal1 = Animal('고양이', 1, True)

In [11]:
animal1.type_

'고양이'

In [12]:
print(animal1)

type: 고양이, age: 1, isPrevent: True

# 상속

In [13]:
class Person(object):
    pass
# object : 가장 기본이 되는 객체
a = 'abc'
type(a)

str

In [14]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [24]:
class Korean(Person):
    def __init__(self, name, age):
        super().__init__(name, age)
    pass

In [21]:
korean1 = Korean('홍길동', 100)

In [34]:
class Person():
    def __init__(self):
        self.name = ''
        self.age = 0
class Employee(Person):
    def __init__(self):
        super().__init__()
        self.id = ''
    pass
class Manager(Employee):
    pass
class Staff(Employee):
    pass
class Hourly(Employee):
    pass

In [35]:
staff = Staff()
employee = Employee()

In [36]:
staff.name

''

### 상속은 클래스명(상속받을 클래스) 작성
### 기본적으로(생성자 안건드렸을때) 부모의 기능 및 변수를 자식 클래스가 사용 가능
### 만약 생성자를 만들었는데 부모 생성자를 호출 안하면 부모 생성자에서 생성한 변수는 사용 못한다
### 하지만 메소드(함수)는 생성자 호출여부와 관계없이 사용 가능

In [37]:
class Person():
    def __init__(self, name):
        self.name = name
class Korean(Person):
    pass

In [41]:
k = Korean('abc')
k.name

'abc'

In [42]:
class Person(object):
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    def about_me(self):
        print(f"이름은 {self.name}이고 나이는 {self.age}살입니다.")

In [43]:
class Employee(Person):
    def __init__(self, name, age, gender, salary, hire_date):
        super().__init__(name, age, gender)
        self.salary = salary
        self.hire_date = hire_date
    def do_work(self):
        print("열심히")
    def about_me(self):
        super().about_me()
        print(f"급여는 {self.salary}이고 입사일은 {self.hire_date}입니다")

In [47]:
p = Person('홍길동', 30, '남성')
p.about_me()

이름은 홍길동이고 나이는 30살입니다.

In [45]:
e = Employee('홍길동', 30, '남성', '1000', '1월 1일')
e.do_work()
e.about_me()

열심히
이름은 홍길동이고 나이는 30살입니다.
급여는 1000이고 입사일은 1월 1일입니다

# 다형성

In [55]:
class Animal():
    def __init__(self, name):
        self.name = name
    def talk(self):
        pass
class Cat(Animal):
    def talk(self):
        return "야옹"
class Dog(Animal):
    def talk(self):
        return "멍멍"
class Cow(Animal):
    def talk(self):
        return "음메"
animals = [Cat('야옹이'), Dog('바둑이'), Cow('소')]

In [56]:
for animal in animals:
    print(f"{animal.name}: {animal.talk()}")

야옹이: 야옹
바둑이: 멍멍
소: 음메

In [57]:
c1 = Cat('야옹이')
c2 = c1

In [59]:
c1.name, c2.name

('야옹이', '야옹이')

# 모듈과 패키지

In [60]:
import random
random.randint(1, 10)

7

In [63]:
import my_util

In [64]:
str_number = input('숫자를 입력하세요')

숫자를 입력하세요 11

In [65]:
type(str_number)

str

In [66]:
my_util.conver_str_int('11')

11

In [68]:
import my_util as mu

In [69]:
from my_util import conver_str_int

In [72]:
conver_str_int(str_number)

11

In [71]:
from my_util import *

In [76]:
# 내장 모듈
from random import *

In [77]:
randint(0, 100)

16

In [84]:
import time

In [79]:
time.localtime()

time.struct_time(tm_year=2023, tm_mon=1, tm_mday=4, tm_hour=21, tm_min=38, tm_sec=58, tm_wday=2, tm_yday=4, tm_isdst=0)

In [80]:
time.localtime().tm_year

2023

In [85]:
year, month, day = time.localtime().tm_year, time.localtime().tm_mon, time.localtime().tm_mday

In [86]:
hour, minute, sec = time.localtime().tm_hour, time.localtime().tm_min, time.localtime().tm_sec

In [87]:
def convert(data):
    if data < 10:
        return '0' + str(data)
    else:
        return str(data)

In [90]:
time1 = '-'.join([str(year), convert(month), convert(day)])

In [91]:
time2 = ':'.join([str(hour), convert(minute), convert(sec)])

In [92]:
' '.join([time1, time2])

'2023-01-04 21:46:26'